body {
    margin: 0;
    padding: 0;
}

button {
    outline: none;
}

button:active {
    background-color: #E3DDD3;
}

button.formField {
    margin: 1em auto 2em auto;
    background-color: white;
    border: 0.1em solid rgb(217,176,151);
    border-radius: 0.5em;
    padding: 0.2em 0.4em;
}

button.infoField {
    margin: 1em auto;
    background-color: white;
    border: 0.1em solid rgb(217,176,151);
    border-radius: 0.5em;
    padding: 0.2em 0.4em;
}

canvas {
    max-width: auto;
}

.control {
    color: black;
    font: normal 1em sans-serif;
    background-color: rgb(247,241,230);
    border: 0.1em solid rgb(217,176,151);
    border-radius: 0.5em;
    padding: 0.2em 0.4em;
}

.entryPanel {
    width: 14em;
    height: 14.5em;
    position: absolute;
    background-color: rgb(247,241,230);
    border: 0.1em solid rgb(217,176,151);
    border-radius: 0.5em;
    transform: translate3d(0px, -400px, 0px);
}

.explanatoryInscription {
    display: block;
    margin: 0.5em auto;
    text-align: center;
    font: normal 2em sans-serif;
}

.formField {
    display: block;
    margin: 1em;
}

.gamePanel {
    width: 1200px;
    margin: auto;
    position: relative;
}

.gameRulesPanel#keyboardRules {
    width: 20em;
    height: 16em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -8em 0 0 -10em;
    background-color: rgb(247,241,230);
    border: 0.1em solid rgb(217,176,151);
    border-radius: 0.5em;
    visibility: hidden;
}

input {
    outline: none;
}

.infoField {
    display: block;
    margin: 0.5em;
    font: normal 1em sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: black;
}

.infoText {
    display: inline-block;
    width: 32%;
    text-align: center;
    color: black;
    font: normal 2em sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.infoText p {
    margin: 0.2em 0em;
}

input[type="text"] {
    background-color: white;
    border: 0.1em solid rgb(217,176,151);
    border-radius: 0.5em;
    padding: 0.2em 0.4em;
    margin: auto;
}

p {
    margin: 0.7em 1em;
}

li {
    display: inline-block;
    margin: 0.5em 1em;
}

.notificationLabel {
    display: block;
    margin: 0.5em auto;
    text-align: center;
    color: red;
    visibility: hidden;
}

ul.navGame {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.winnerPanel {
    width: 14em;
    height: 10em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -7em 0 0 -5em;
    background-color: rgb(247,241,230);
    border: 0.1em solid rgb(217,176,151);
    border-radius: 0.5em;
    visibility: hidden;
}

@media all and (max-width: 1202px) {
    .gamePanel {width: 800px;}
}

@media all and (max-width: 802px) {
    .gamePanel {width: 550px;}
}


@media all and (max-width: 700px) {
    .infoText:nth-child(even) {width: 10%;}
    .infoText:nth-child(odd) {width: 44%;}
}

@media all and (max-width: 552px) {
    .infoPanel .infoText {width: 100%; display: block; margin: 0 auto;}
    .gamePanel {width: 380px;}
}

@media all and (max-width: 402px) {
    .gamePanel {width: 300px;}
}

@media all and (max-width: 350px) {
    .gamePanel {margin: 5px 10px; width: calc(100% - 20px);}
}